<launch>
	<arg name="robot_ip" doc="IP of controller" />
	<arg name="use_bswap" doc="If true, driver will byte-swap all incoming and outgoing data" />
        <arg name="service_port" default="11003" />
	<arg name="streaming_port" default="11005" />
	<arg name="output" default="log" />

	<param name="robot_ip_address" type="str" value="$(arg robot_ip)" />
	<param name="service_port" type="int" value="$(arg service_port)" />
	<param name="streaming_port" type="int" value="$(arg streaming_port)" />
	<param name="output" type="string" value="$(arg output)" />
        
        
	<node unless="$(arg use_bswap)" name="industrial_io_node" pkg="industrial_io_client" type="industrial_io_node" output="$(arg output)" required="true" >
	</node>
	<node if="$(arg use_bswap)" name="industrial_io_node" pkg="industrial_io_client" type="industrial_io_node_bswap" output="$(arg output)" required="true" >
	<param name="enable_write_by_topic" type="bool" value="false" />
	</node>
</launch>
