<?xml version="1.0"?>
<launch>
  <!-- Mikado Test Server and Client Launch File -->
  <!--<node name="mikado_server" pkg="industrial_robot_client" type="simple_mikado_server" output="screen">
    <param name="port" type="int" value="11000"/>
  </node>
  -->
  <!-- Mikado Status Test Client -->
  <!--<node name="mikado_client" 
        pkg="industrial_robot_client" 
        type="simple_mikado_client" 
        args="127.0.0.1"
        output="screen">
  </node> -->

  <node name="mikado_client" 
        pkg="industrial_robot_client" 
        type="simple_mikado_client" 
        args="192.168.0.97"
        output="screen">
  </node>
  
</launch>